{% extends "layout.html" %}

{% block content %}
<div class="modal fade" id="registerModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"> &times;</button>
        <h1>Register</h1>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <form method="POST">
                {{ register.hidden_tag() }}
                <div class="form-group ">
                  {{register.username.label(class="control-label requiredField")}}
                  {{register.username(class_='form-control')}}
                </div>
                <div class="form-group ">
                  {{register.email.label(class="control-label requiredField")}}
                  {{register.email(class_='form-control')}}
                </div>
                <div class="form-group ">
                  {{register.password.label(class="control-label requiredField")}}
                  {{register.password(class_='form-control')}}
                </div>
                <div class="form-group ">
                  {{register.confirm.label(class="control-label requiredField")}}
                  {{register.confirm(class_='form-control')}}
                </div>
                <div class="form-group">
                  <div>
                    <button class="btn btn-primary " name="submit" type="submit">
                      Submit
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<img src="{{url_for('static', filename='images/forgot_professor.jpg')}}" alt="Funny Meme" class="center-block"/>
<form class="login center-block" method="POST">
    {{ form.hidden_tag() }}
  <div>
    {{ form.username_log() }}
  </div>
  <div>
    {{ form.password_log()}}
  </div>
  <div>
    <input type="submit" value="Login">
  </div>
</form>
{% endblock %}
